@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Header */

	#header {
		$from: _palette(accent3-alt);
		$to: _palette(accent6-alt);

		background-image: none;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#{$from}", endColorStr="#{$to}", GradientType=1);
		position: relative;

		&:before {
			background-image:		url('img/overlay2.png'),		url('img/overlay3.svg');
			background-position:	top left,							center center;
			background-size:		auto,								cover;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		> * {
			position: relative;
			z-index: 1;
		}
	}

/* Footer */

	#footer {
		$from: _palette(accent6-alt);
		$to: _palette(accent3-alt);

		background-image: none;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#{$from}", endColorStr="#{$to}", GradientType=1);
		position: relative;

		&:before {
			background-image:		url('img/overlay2.png'),		url('img/overlay4.svg');
			background-position:	top left,							center center;
			background-size:		auto,								cover;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		> * {
			position: relative;
			z-index: 1;
		}
	}
